<div class="hero">
  <div class="hero-inner">
    <h1 class="hero-headline">
      <span class="hero-headline-text">
        <span> 一生使えるDXスキル</span>を取得しよう。
      </span><br />
      <span class="hero-headline-text">
        オンライン・プログラミング・ゼミの『SiiD』
      </span>
    </h1>
  </div>
  <div class="hero-images">
    <ul class="hero-images-list">
      <% for (let i=0; i < 5; i++) { %>
        <li class="hero-images-item">
          <img src="https://dummyimage.com/438x292/fafafa/000000" alt="">
        </li>
        <% } %>

    </ul>
  </div>
</div>
